  .featuredChart {
    margin: 20px;
    margin-top: 0px;
    padding: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }

  .chartTitle {
    padding: 10px;
  }
  