.userList {
    flex: 4;
  }
  
  .userListUser {
    display: flex;
    align-items: center;
  }

  .container {
    display: flex;
    margin-top: 10px;
    margin-left: 0%;
    width: 100%;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  
  .tableGrid {
      font-size: 2rem !important;
  }
  
  /* .userListEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
  } */